.blog{
    background: #1b4580;
    &__image{
        margin: 90px 0;
        img{
            width: 100%;
        }
    }
    &__text{
        padding: 100px 0;
        p, h1{
            color: white;
        }
        h1{
            margin: 1rem 0;
            line-height: 2rem;
        }
    }
    &__avatar{
        margin-top: 10px;
        &__author{
            margin-left: 0.5em;
            p{
                font-size: 11px;
                font-weight: bold;
                line-height: 0;
            }
            p.second{
                font-weight: normal;
            }
        }
    }
}