.footer{
    background: #1b4580;
    height: 250px;
    padding: 40px 0;
    &__container{
        p, a, h4{
            color: white;
            margin: 20px 0;
            font-size: 12px;
        }
        h4{
            font-size: 16px;
        }
        img{
            width: 8em;
        }
    }
    &__terms{
        color: white;
        a{
            font-size: 9px;
        }
    }
}