.homepage{
    background-color: whitesmoke;
    .hero{
        height: 500px;
        background-image: url(../images/homepage.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        &__title{
            h1{
                color: white;
            }
        }
    }
    .whyus{
        margin: 20px 0;
        text-align: center;
        img{
            margin: 0 auto;
            width: auto;
            height: 100px;
            text-align: center;
        }
    }
    .services{
        margin: 20px 0 80px 0;
        text-align: center;
        p{
            text-align: left;
        }
        img{
            margin: 0 auto;
            width: auto;
            height: 140px;
            text-align: center;
        }
        button{
            margin-top: 15px;
        }
    }
    .accident{
        background: url(../images/accident.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 300px;
        h1, p{
            color: white;
        }
        h1{
            margin-bottom: 5px;
        }
    }
    .blogs{
        margin: 25px 0;
        height: auto;
        .ant-card-body{
            padding: 12px 0;
            background-color: whitesmoke;
        }
        img{
            border-radius: 5px;
            height: 175px;
        }
        &__text{
            h4{
                font-size: 16px;
                margin: 0;
            }
            p{
                font-size: 12px;
            }
        }
    }
}