.homepage{
    background-color: whitesmoke;
    .hero{
        height: 500px;
        background-image: url(../images/homepage.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        &__title{
            h1{
                color: white;
            }
        }
    }
    .whyus{
        margin: 20px 0;
        text-align: center;
        img{
            margin: 0 auto;
            width: auto;
            height: 100px;
            text-align: center;
        }
    }
    .services{
        padding: 20px 0 80px 0;
        text-align: center;
        p{
            text-align: left;
        }
        img{
            margin: 0 auto;
            width: auto;
            height: 140px;
            text-align: center;
        }
        &__content{
            margin-bottom: 20px;
        }
    }
    .accident{
        background: url(../images/accident.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 300px;
        h1, p{
            color: white;
        }
        h1{
            margin-bottom: 5px;
        }
    }
    .blogs{
        padding: 25px 0;
        height: 375px;
        .ant-card{
            background: none;
        }
        .ant-card-body{
            padding: 12px 0;
            background-color: whitesmoke;
        }
        img{
            border-radius: 5px;
            height: 175px;
        }
        &__text{
            h4{
                font-size: 16px;
                margin: 0;
            }
            p{
                font-size: 12px;
            }
        }
    }
    .contact{
        padding: 20px 0 60px 0;
        height: 420px;
        background-color: whitesmoke;
        &__container{
            border-radius: 10px 0px 0px 10px;
            background-color: blue;
            color: white;
        }
        &__containerleft{
            border-radius: 0px 10px 10px 0px;
            background-color: white;
        }
        &__inner{
            h4{
                color: white;
            }
            p{
                font-size: 13px;
            }
            background-color: blue;
            margin: 70px 40px;
        }
        &__row{
            height: 300px;
        }
        &__right{
            margin: 70px 70px;
            button{
                float: right;
            }
        }
    }
}