.homepage{
    background-color: whitesmoke;
    .hero{
        height: 500px;
        background-image: url(../images/homepage.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        &__title{
            h1{
                color: white;
            }
        }
    }
    .whyus{
        margin: 20px 0;
        text-align: center;
        img{
            margin: 0 auto;
            width: auto;
            height: 100px;
            text-align: center;
        }
    }
    .services{
        margin: 25px 0;
        text-align: center;
        p{
            text-align: left;
        }
        img{
            margin: 0 auto;
            width: auto;
            height: 150px;
            text-align: center;
        }
        button{
            margin-top: 15px;
        }
    }
}